

/* Container Principal */
.container {
  margin-top: -85px;
}

button.btn-primary-btn {
  background: rgb(208, 208, 208);
  color: white;
  margin-bottom: -12px;
  width: 100%;
  transition: all 0.3s ease;
}

button.btn-primary-btn:hover {
  background: rgb(155, 155, 155);
  transform: translateY(-2px);
  box-shadow: var(--shadow-hover);
}

button.btn-primary-btn.btn-valid {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button.btn-primary-btn.btn-valid:hover {
  background: #45a049;
}

button.btn-primary-btn-large {
  background: rgb(208, 208, 208);
  color: white;
  margin-top: -10px;
  width: 100%;
  transition: all 0.3s ease;
}

button.btn-primary-btn-large:hover {
  background: rgb(155, 155, 155);
  transform: translateY(-2px);
  box-shadow: var(--shadow-hover);
}

button.btn-primary-btn-large.btn-valid {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button.btn-primary-btn-large.btn-valid:hover {
  background: #45a049;
}

button.btn-primary, .btn-primary {
  background: rgb(208, 208, 208);
  color: white;
  transition: all 0.3s ease;
}

button.btn-primary:hover, .btn-primary:hover {
  background: rgb(155, 155, 155);
  transform: translateY(-2px);
  box-shadow: rgb(96, 96, 96);
}

button.btn-primary.btn-valid, .btn-primary.btn-valid {
  background: #4caf50;
  color: white;
}

button.btn-primary.btn-valid:hover, .btn-primary.btn-valid:hover {
  background: #45a049;
}